/*@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600;700&family=Silkscreen&display=swap');

@Text{
    -fx-font-size : 40;
    -fx-font-family : 'Pixelify Sans', sans-serif;
    font-family: 'Silkscreen', sans-serif;
}

#GamePane{
    -fx-background-image: url("WallPaper2.png");
    -fx-alignment: center ;
    -fx-background-size: 420 840;
}