@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@Text{
    -fx-font-family: 'Silkscreen', sans-serif;
}

#GamePane{
    -fx-background-image: url("WallPaper2.png");
    -fx-alignment: center ;
    -fx-background-size: 420 840;
}